<html>
  <head>
    <title>InBoard Customer Service System</title>
    <link rel="icon" href="favicon.png"> 
    <style>
    body {
        background-color: linen;
    }
    * {font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;}
    .button {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1em;
        background-color: #e7e7e7;
        color: black;
        border-radius: 12px;
    } 
    p {font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;}
    input[type=text] {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1em;
        width: 20%;
        padding: 2px;
        margin: 1 0;
        box-sizing: border-box;
    }
    h2 {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: maroon;
        margin-left: 20px;
    } 
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#user-submit').click(function () {
          var payload = {
            deck_sn: $('#deck-sn').val()
          };
          $.ajax({
            url: "/api/form_d",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(payload),
            complete: function (data) {
              $('#output').html(data.responseText);
            }
          });
          $.ajax({
            url: "/api/form_r",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(payload),
            complete: function (data) {
              const a = JSON.parse(data.responseText, (key, value) => {
                if (key === "alternateid") {
                  $('#netsuite').val(value);
                } else if (key === "deck_sn") {
                  $('#decksn').val(value);
                } else if (key === "id") {
                  $('#recid').val(value);
                }
              });
            }
          });
        });
      });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
