<div class="holder">
  <div class="header"><img src="inboard_logo.png" /></div><br />
  <div class="header"><h2>Admin Order Tracking</h2></div><br />
  <div class="wrapper">
    <hr />
    <div class="label"><h3>Search</h3></div><br />
    <form id="input" onsubmit="return false">
      <div class="child">Deck S/N</div>
      <div class="child">
        <input type="text" id="deck-sn" name="deck_sn" value="" style="width:100px">
      </div>
      <div style="width:75px; margin-left:10px;">
        <input class="button" id="user-submit" type="submit" value="Search">
      </div>
      <div style="width:75px;">
        <input class="button" id="user-clear" type="submit" value="Clear">
      </div><br />
    </form>
    <hr />
  </div><br />
  <div class="label"><h3>Results</h3></div><br />
  <div class="wrapper">
    <div class="child">Rush Rec ID</div><div class="child-sm"><input type="text" id="rrecid" class="child-tiny rush"></div>
    <div class="child">Data Rec ID</div><div class="child-sm2"><input type="text" id="drecid" class="child-tiny"></div>
    <div class="child">&nbsp;Item</div><div class="child-wide"><input class="rush" type="text" id="item"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">MFG Date</div><div class="child-wide"><input type="text" id="mfgdate"></div>
    <div class="child">&nbsp;Ship Date</div><div class="child-wide"><input type="text" id="shipdate"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Motor S/N L</div><div class="child-wide"><input type="text" id="motorsnl"></div>
    <div class="child">&nbsp;Motor S/N R</div><div class="child-wide"><input type="text" id="motorsnr"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">FW Version</div><div class="child-wide"><input type="text" id="fwversion"></div>
    <div class="child">&nbsp;BCU Version</div><div class="child-wide"><input type="text" id="bcuversion"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Netsuite #</div><div class="child-wide"><input class="rush" type="text" id="netsuite"></div>
    <div class="child">&nbsp;Order #</div><div class="child-wide"><input class="rush" type="text" id="ordernum"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Internal Id</div><div class="child-wide"><input class="rush" type="text" id="internalid"></div>
    <div class="child">&nbsp;Ship Via</div><div class="child-wide"><input class="rush" type="text" id="shipvia"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Weight</div><div class="child-wide"><input type="text" class="rush" id="weight"></div>
    <div class="child">&nbsp;Tracking #</div><div class="child-wide"><input class="rush" type="text" id="trackingnu"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Qty Ordered</div><div class="child-wide"><input class="rush" type="text" id="qty_order"></div>
    <div class="child">&nbsp;Qty Fulfilled</div><div class="child-wide"><input class="rush" type="text" id="qty_fulfil"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Part Fulfilled</div><div class="child-wide"><input class="rush" type="text" id="partialful"></div>
    <div class="child">&nbsp;Fully Fulfilled</div><div class="child"><input class="rush" type="text" id="fully_fulf"></div><br />
  </div><br />
  <div class="wrapper">
    <div class="child"></div><div class="child"><input type="text" id=""></div><br />
    <hr />
  </div><br />
<!--  <div class="wrapper">
    <div class="child">First Name</div><div class="child"><input type="text" id="firstname"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Last Name</div><div class="child"><input type="text" id="lastname"></div><br />
  </div><br />
  <div class="wrapper">
    <div class="child" style="width:100px>Customer Address:</div><br />
    <div class="child" style="width:300px; float: left; display: block;"><textarea name="message" rows="3" cols="60">100 Central Ave. Santa Cruz, CA 95060</textarea></div>
  </div><br /> -->
  <div class="wrapper">
    <form id="upload">
      <div class="label"><label for="myFile"><h4>Upload Rush CSV</h4></label></div><br />
      <div style="width:200px;">
        <input name="myFile" type="file">
     </div>
    <div style="width:100px;">
        <input class="button" id="rush-upload" type="submit" value="Upload">
     </div>
    </form>
  </div><br  />
  <div class="wrapper">
    <hr />
    <form id="import">
    <div style="width:200px;">
      <label for="data-incremental"><h4 style="display: inline;">Import gSheet</h4></label>
    </div>
    <div style="width:110px;">
      <input name="data-incremental" class="button" id="data-incremental" type="submit" value="Incremental">
    </div>
    <div style="width:75px;">
      <input name="data-full" class="button" id="data-full" type="submit" value="Full">
    </div><br />
    <div style="width:200px;">
      <input type="text" id="csv-name" value="2017_mfg_data.csv" style="width:120px; font-size:.75em">
    </div>
    <div style="width:100px;">
      <input name="data-import" class="button" id="data-import" type="submit" value="Initialize">
    </div><br />
    </form>
    <hr />
  </div><br />
  <div class="wrapper">
    <form id="version">
    <div style="width:200px;">
      <h4 style="display: inline;">Create Version</h4>
    </div><br />
    <div style="width:30px;">
      <label for="fw-version">FW</label>
    </div>
    <div style="width:65px;">
      <input type="text" id="fw-version" value="" style="width:50px; font-size:.75em">
    </div>
    <div style="width:40px;">
      <label for="bcu-version">BCU</label>
    </div>
    <div style="width:65px;">
      <input type="text" id="bcu-version" value="" style="width:50px; font-size:.75em">
    </div>
    <div style="width:40px;">
      <label for="bcu-version">Date</label>
    </div>
    <div style="width:90px;">
      <input type="text" id="date-changed" value="" style="width:80px; font-size:.75em">
    </div>
    <div style="width:75px;">
      <input name="create-version" class="button" id="create-version" type="submit" value="Create">
    </div><br />
    </form>
    <hr />
  </div>
</div>
