<!--//* admin *//--> 
<div class="holder">
  <div class="header"><img src="inboard_logo.png" /></div><br />
  <div class="header"><h2>Order Tracking</h2></div><br />
  <div class="wrapper">
    <hr />
    <div class="label"><h3>Search</h3></div><br />
    <form id="input" onsubmit="return false">
      <div class="child">Deck S/N</div>
      <div class="child">
        <input type="text" id="deck-sn" name="deck_sn" value="" style="width:100px">
      </div>
      <div style="width:75px; margin-left:10px;">
        <input class="button" id="user-submit" type="submit" value="Search">
      </div>
      <div style="width:75px;">
        <input class="button" id="user-clear" type="submit" value="Clear">
      </div><br />
    </form>
    <hr />
  </div><br />
  <div class="label"><h3>Results</h3></div><br />
  <div class="wrapper">
    <div class="child">Rush Rec ID</div><div class="child-sm"><input type="text" id="rrecid" class="child-tiny"></div>
    <div class="child">Data Rec ID</div><div class="child-sm"><input type="text" id="drecid" class="child-tiny"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">MFG Date</div><div class="child"><input type="text" id="mfgdate"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Ship Date</div><div class="child"><input type="text" id="shipdate"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Motor S/N L</div><div class="child"><input type="text" id="motorsnl"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Motor S/N R</div><div class="child"><input type="text" id="motorsnr"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">FW Version</div><div class="child"><input type="text" id="fwversion"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">BCU Version</div><div class="child"><input type="text" id="bcuversion"></div>
  </div><br />
  <div class="wrapper">
    <div class="child">Netsuite #</div><div class="child"><input type="text" id="netsuite"></div><br />
    <hr />
  </div><br />
  <!--
    Deck S/N <input type="text" id="decksn"><br />
    First Name <input type="text" id="firstname"><br />
    Last Name <input type="text" id="lastname"><br />
    Customer Address:<br />
    <textarea name="message" rows="10" cols="60">100 Central Ave. Santa Cruz, CA 95060</textarea>
    <br />
  -->
</div>
