<img src="inboard_logo.png" />
<h2>Customer Service System</h2>
  <form id="input" onsubmit="return false">
    Deck S/N <input type="text" id="deck-sn" name="deck_sn" value="" style="width:10%"> <input class="button" id="user-submit" type="submit" value="Search"> <input class="button" id="user-clear" type="submit" value="Clear">
  </form>
  <hr />
  Rush Rec ID <input type="text" id="rrecid" style="width:5%;"> Data Rec ID <input type="text" id="drecid" style="width:5%;"><br />
  Netsuite # <input type="text" id="netsuite"><br />
  MFG Date <input type="text" id="mfgdate"><br />
  Ship Date <input type="text" id="shipdate"><br />
  Motor S/N L <input type="text" id="motorsnl"><br />
  Motor S/N R <input type="text" id="motorsnr"><br />
  FW Version <input type="text" id="fwversion"><br />
  BCU Version <input type="text" id="bcuversion"><br />
  <hr />
  <form id="upload">
    <label for="myFile">Upload Rush CSV</label><br />
    <input name="myFile" type="file"><input class="button" id="rush-upload" type="submit" value="Upload">
  </form>
  <hr />
  <form id="import">
    <label for="data-incremental">Import gSheet</label>
    <input name="data-incremental" class="button" id="data-incremental" type="submit" value="Incremental">
    <input name="data-full" class="button" id="data-full" type="submit" value="Full">
  </form>
<!--
  Deck S/N <input type="text" id="decksn"><br />
  First Name <input type="text" id="firstname"><br />
  Last Name <input type="text" id="lastname"><br />
  Customer Address:<br />
  <textarea name="message" rows="10" cols="60">100 Central Ave. Santa Cruz, CA 95060</textarea>
  <br />
-->
