<html>
  <head>
    <title>InBoard Order Tracking</title>
    <link rel="icon" href="favicon.png" />
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/admin.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/admin.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
