<html>
  <head>
    <title>InBoard Customer Service System</title>
    <link rel="icon" href="favicon.png"> 
    <style>
    body {
        background-color: linen;
    }
    * {font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;}
    .button {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1em;
        background-color: #e7e7e7;
        color: black;
        border-radius: 12px;
    } 
    p {font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;}
    input[type=text] {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1em;
        width: 20%;
        padding: 2px;
        margin: 1 0;
        box-sizing: border-box;
    }
    h2 {
        font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: maroon;
        margin-left: 20px;
    } 
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#user-clear').click(function () {
          $('#deck-sn').val("");  
          $('#mfgdate').val("");  
          $('#motorsnl').val("");  
          $('#motorsnr').val("");  
          $('#fwversion').val("");  
          $('#bcuversion').val("");  
          $('#drecid').val("");  
          $('#rrecid').val("");  
          $('#netsuite').val("");  
          $('#shipdate').val("");  
        });
        function postForm() {
          var payload = {
            deck_sn: $('#deck-sn').val()
          };
          $.ajax({
            url: "/api/form_d",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(payload),
            complete: function (data) {
              const a = JSON.parse(data.responseText, (key, value) => {
                if (key === "date") {
                  $('#mfgdate').val(value);
                } else if (key === "motor_sn_l") {
                  $('#motorsnl').val(value);
                } else if (key === "motor_sn_r") {
                  $('#motorsnr').val(value);
                } else if (key === "fw_version") {
                  $('#fwversion').val(value);
                } else if (key === "bcu_version") {
                  $('#bcuversion').val(value);
                } else if (key === "id") {
                  $('#drecid').val(value);
                }
              });
            }
          });
          $.ajax({
            url: "/api/form_r",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(payload),
            complete: function (data) {
              const a = JSON.parse(data.responseText, (key, value) => {
                if (key === "alternateid") {
                  $('#netsuite').val(value);
                } else if (key === "shipdate") {
                  $('#shipdate').val(value);
                } else if (key === "id") {
                  $('#rrecid').val(value);
                }
              });
            }
          });
        }
        $('#user-submit').click(function () {
          postForm();
        });
        $("form#input").keydown(function(event){
          if(event.which == 13) {
            event.preventdefault();
            postForm();
          }
        });
        const files = [];
        $("input[type=file]").change(function(event) {
          $.each(event.target.files, function(index, file) {
            var reader = new FileReader();
            reader.onload = function(event) {
              object = {};
              object.filename = file.name;
              object.data = event.target.result;
              files.push(object);
            };
            reader.readAsDataURL(file);
          });
        });
        $("#upload").submit(function(form) {
          $.each(files, function(index, file) {
            $.ajax({
              url: "/api/upport_r",
              type: 'POST',
              data: {filename: file.filename, data: file.data},
              success: function(data, status, xhr) {}
            });
          });
          files = [];
          form.preventDefault();
        });
        $('#rush-import').click(function () {
          var payload = {
            csv_name: $('#csv-name').val()
          };
          $.ajax({
            url: "/api/import_r",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(payload),
            processData: false,
          });
        });
        $('#data-incremental').click(function () {
          var payload = {
            type: "incremental"
          };
          $.ajax({
            url: "/api/import_d",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(payload),
            processData: false,
          });
        });
        $('#data-full').click(function () {
          var payload = {
            type: "full"
          };
          $.ajax({
            url: "/api/import_d",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(payload),
            processData: false,
          });
        });

      });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
